body{
  background-color: black ;
  text-align:center;
}
.name{
font-family: 'Architects Daughter', cursive;
font-size: 100px;
color: Red ;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
input{
  color: #FFFFFF;
    font-family: "Lato",sans-sans-serif;
    font-size: 30px;
    cursor:pointer;
    width:80px;
    height: 80px;
    background-color: #2F3336;
    border-radius: 4px;
    margin-left: 10px;
     box-shadow: 5px 5px gray;

}
.First-row, .First,.second, .third, .forth, .fifth{
  margin-bottom: 20px;
}
input[type="text"]
{
  width: 150px;
  height: 40px;
  text-align: center;
}
input[type="button"]:hover{
  background-color: #030600;
  border-color: red;
}
.a{
  background-color:SteelBlue;
}
